@model List<customer>


<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    @foreach(customer item in Model)
    {
        <tr>
            <td> @item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>